In [19]:
import pandas as pd
df = pd.read_csv('./data/dataframe.csv')

# on the right => 340
# on the left => 870
# in the middle => 480

In [40]:
import numpy as np
df_right = np.where(df['prediction_x'] >= 360)[0]
df_left = np.where(df['prediction_x'] <= 280)[0]
df_center = np.where((df['prediction_x'] > 280) & (df['prediction_x'] < 360))[0]

a = np.random.choice(df_right, size=340)
b = np.random.choice(df_left, size=340)
c = np.random.choice(df_center, size=340)

In [42]:
df2= pd.concat([df.iloc[a], df.iloc[b], df.iloc[c]], axis = 0).reset_index()

df2

,index,filename,prediction_x,prediction_y
0,116,./data/processed_frames/2589_116_425_198.jpg,425,198
1,149,./data/processed_frames/2589_149_383_197.jpg,383,197
2,299,./data/processed_frames/2589_299_488_201.jpg,488,201
3,108,./data/processed_frames/2589_108_434_200.jpg,434,200
4,74,./data/processed_frames/2589_74_393_207.jpg,393,207
...,...,...,...,...
1015,1077,./data/processed_frames/2589_1077_302_226.jpg,302,226
1016,533,./data/processed_frames/2589_533_300_222.jpg,300,222
1017,1246,./data/processed_frames/2589_1246_303_248.jpg,303,248
1018,1411,./data/processed_frames/2589_1411_298_209.jpg,298,209
1019,1400,./data/processed_frames/2589_1400_314_194.jpg,314,194

In [26]:
len(np.where(df['prediction_x'] <= 280)[0])

870

In [20]:
df[(df['prediction_x'] > 280) & (df['prediction_x'] < 360)]

,filename,prediction_x,prediction_y
26,./data/processed_frames/2589_26_284_205.jpg,284,205
27,./data/processed_frames/2589_27_288_204.jpg,288,204
28,./data/processed_frames/2589_28_292_205.jpg,292,205
29,./data/processed_frames/2589_29_297_204.jpg,297,204
30,./data/processed_frames/2589_30_299_204.jpg,299,204
...,...,...,...
1547,./data/processed_frames/2589_1547_313_214.jpg,313,214
1548,./data/processed_frames/2589_1548_310_212.jpg,310,212
1549,./data/processed_frames/2589_1549_302_212.jpg,302,212
1550,./data/processed_frames/2589_1550_295_210.jpg,295,210
1551,./data/processed_frames/2589_1551_284_213.jpg,284,213